{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<ul>
    <li >
        <a  href="{% url 'account:login' %}">Войти</a>
    </li>
    <li>
        <a  href="{% url 'url_shorter:main_page' %}">На главную</a>
    </li>
</ul>



    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>Не верный пароль. Попробуйте еще раз.</p>
    {% else %}
        <p>Введите логин и пароль.</p>
    {% endif %}

<form action="{% url 'account:login' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="hidden" value="{{ next }}" />
    <p><input type="submit" value="Войти"></p>
</form>


{% endblock %}